<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superhero Index</title>
  </head>
  <body>
    <h1>{{single_hero.name}}</h1>
    <ul>
      <li>{{single_hero.alter_ego}}</li>
      <li>{{single_hero.primary_ability}}</li>
      <li>{{single_hero.secondary_ability}}</li>
      <li>{{single_hero.catch_phrase}}</li>
    </ul>
  </body>
</html>
